@import 'bootstrap/scss/bootstrap.scss';

$blue: #4343EA;
$white: #FFFFFF;
$blue-gray: #6A8EAE;
$light-blue: #9BD1E5;
$green: #9FD8CB;


body {
  font-family: Arial;
  background-color: $white !important;
  color: black;

  h3 {
    color: $white;
  }

  button {
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .navbar {
    background-color: $blue !important;
    font-size: 1.2em;
    // box-shadow: black 2em 2em;
  }
  .btn{

    border-radius: 2rem;

    &:focus {
      box-shadow: none;
    }
    &.btn-primary {
      color: $white;
      background-color: $blue;
      border-color: $blue;
      &:hover {
        border-color: $blue;
        color: $blue;
        background-color: $white;
      }
    }
    &.btn-success {
      color: $white;
      background-color: $green;

    }
    &.btn-outline-primary {
      color: $blue;
      border-color: $blue;
      background-color: $white;
      &:hover {
        border-color: $white;
        color: $white;
        background-color: $blue;
      }
    }
  }
  .form-control {
    border-radius: 1rem;
  }

  #accessibuild {
    background: none !important;
    border: none !important;
    color: $white;
    padding-top: 0.2em;
    float: left;
    cursor: pointer;
  }

  #search-container {
    padding-top: 5px;
  }

  #profile {
    padding-top: 2em;
  }

  #contacts-block {
    padding-right: 5%;
  }

  #flexbox-container {
    padding-top: 3.4em;
    height: 100%
  }

  #right-box {
    min-width: 40%;
    padding-top: 2em;
    height: 100%;
    overflow: scroll;
    @media (max-width: 450px) {
      height: 40%;
    }
  }

  #left-box {
    min-width: 60%;
    height: 100%;
    @media (max-width: 450px) {
      height: 60%;
    }
  }
}