@import 'bootstrap/scss/bootstrap.scss';

$blue: #4169E1;
$white: #EFEFEF;
$blue-gray: #6A8EAE;
$light-blue: #9BD1E5;
$green: #9FD8CB;


body {
  background-color: $white !important;
  color: $blue;
  .navbar {
    background-color: $blue !important;
  }
  .btn{
    &.btn-outline-primary {
      color: $blue;
      border-color: $blue;
      background-color: $white;
      &:hover {
        border-color: $blue;
        color: $green;
      }
    }
  }
  .form-control {
    border-radius: 1rem;
  }
}