@import 'bootstrap/scss/bootstrap.scss';

$blue: #4343EA;
$white: #FFFFFF;
$blue-gray: #6A8EAE;
$light-blue: #9BD1E5;
$green: #28a745;
$yellow: #ffc107;
$red: #dc3545;


body {
  button {
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .type-badge {
    border: black 1px solid;
    border-radius: 1rem;
    text-align: center;
    width: 6rem;

    &.full {
      color: $white;
      background-color: $green;
      border-color: $green;
    }

    &.partial {
      color: black;
      background-color: $yellow;
      border-color: $yellow;
    }

    &.none {
      color: $white;
      background-color: $red;
      border-color: $red;
    }

    &.unknown {
      color: white;
      background-color: gray;
      border-color: gray;
    }
  }

  .jumbotron {
    background-color: $white;
    border: $blue 1px solid;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .navbar {
    background-color: $blue !important;
    font-size: 1.2em;
  }

  .card {
    &.form-group {
      margin-bottom: 0;
    }
  }

  .card-header {
    background-color: $blue;
    color: $white;
  }
  .btn{

    &.round-button {
      border-radius: 2rem;
    }

    &:focus {
      box-shadow: none;
    }
    &.btn-primary {
      color: $white;
      background-color: $blue;
      border-color: $blue;
      &:hover {
        border-color: $blue;
        color: $blue;
        background-color: $white;
      }
    }
    &.btn-outline-primary {
      color: $blue;
      border-color: $blue;
      background-color: $white;
      &:hover {
        border-color: $white;
        color: $white;
        background-color: $blue;
      }
    }

    &.btn-radio {
      color: $blue;
      border-color: $blue;
      background-color: $white;
      &.active {
        color: $white;
        background-color: $blue;
      }
    }
  }

  .btn-link {
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  .subtitle {
    font-style: italic;
    padding-left: 2%;
  }
  .form-control {
    border-radius: 1rem;
  }

  #accessibuild {
    background: none !important;
    border: none !important;
    color: $white;
    float: left;
    cursor: pointer;
  }

  .contact-info {
    @media (max-width: 450px) {
      margin-bottom: 0;
    }
  }

  .contact-buttons {
    @media (max-width: 450px) {
      margin-top: 0;
    }
  }

  .pac-container {
    padding-top: .5rem;
    border: 2px solid $blue;
    border-radius: 0 0 1rem 1rem;
    font: inherit;
  }

  .pac-logo {
    &:after{
      background-image: none !important;
      height: 0px
    }
  }

  .pac-item {
    font: inherit;
    font-size: smaller;
    margin: 0 1rem 0;
    line-height: 2rem
  }
  .pac-item-query {
    font: inherit;
    font-size: medium
  }
  .pac-icon {
    display: none;
  }

  #logo {
    color: $white;
  }

  #profile, #login, #register, #right-home, #submit-review {
    padding-top: 2em;
    width: 90%;
    margin: auto;
    @media (max-width: 450px) {
      width: 100%;
      padding-top: 1em
    }
  }

  #flexbox-container {
    padding-top: 3.4em;
    height: 100%
  }

  #right-box {
    min-width: 40%;
    height: 100%;
    overflow: scroll;
    @media (max-width: 450px) {
      height: 40%;
      padding: 5%;
    }
  }

  #left-box {
    min-width: 60%;
    height: 100%;
    @media (max-width: 450px) {
      height: 60%;
    }
  }
}